

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.grid{
  display:flex;
  flex-direction: column;
  width:500px;
  height:500px;
  border: 5px solid black;
  

}
.row{
  display: flex;
  flex:1;
 
}

#box{
  flex:1;
border: 1px solid black;
background-color: rgb(255,255,255);
}

.buttons{
  display: flex;
  
  justify-self: stretch;
  margin: 10px;
  justify-content: space-between;
}

#black {
  background-color: black;
  color:white;
}

#erase {
  background-color: white;
  color: black;
}








